/* Write your CSS here */
.container {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin-right: 13px;
  margin-bottom: 13px;
  padding: 30px;
  width: 30%;
}

.green {
  color: #18ed66;
}

.red {
  color: #e31a1a;
}
